<div>
  <div>
    <h1>
      All boards
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new board
    </h2>

    <form action="/insert_board" method="post">
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name">
      </div>

      <button>
        Add board
      </button>
    </form>
  </div>
</div>

<hr>


  
    <div class="card" style="width: 18rem;">
  <div class="card-header">
    All Boards
    <button type="button" class="ms-auto btn btn-sm btn-outline-success" data-bs-toggle="modal" data-bs-target="#newBoardModal">
          Add a new board
        </button>
  </div>

  <ul class="list-group list-group-flush">
    <% @list_of_boards.each do |a_board| %>
    <a href="/boards/<%= a_board.id %> class="list-group-item">
     <%= a_board.name %>
        
           <i class="ms-auto fa-solid fa-chevron-right"></i>
        
    </a>
     <% end %> 
  </ul>
 
</div>
           
         
            
    
